@model IEnumerable<RecipeBook.Models.Recipe>
@{
    ViewData["Title"] = "Home";
}

<h3>Выбор пользователей:</h3>
<div class="row">
    @foreach (var recipe in Model)
    {
        <div class="col-md-3">
            @if (recipe.RecipeImageURL != null)
            {
                <img src="@recipe.RecipeImageURL">
            }
            else
            {
                <img src="https://i.ibb.co/1LFV1xz/image.png" alt="i" border="0">
            }
            <br>
            <p><a href="~/Recipe/Recipe/@recipe.RecipeId">@recipe.Title</a></p>
            <p>@recipe.Description</p>
        </div>
    }
</div>