@model IEnumerable<RecipeBook.Models.Recipe>
<h1>Десерты:</h1>
@foreach (var dish in Model)
{
    if (dish.RecipeTypeId == 3)
    {
        <div>
            <p>
                <a href="~/Recipe/Recipe/@dish.RecipeId">@dish.Title</a>
            </p>
        </div>
    }
}