<h1>Рецепты:</h1>
<div>
    <p>
        <a href="~/Recipe/FirstDishes">Первые блюда</a>
        <a href="~/Recipe/SecondDishes">Вторые блюда</a>
        <a href="~/Recipe/Desserts">Десерты</a>
    </p>
</div>